absl-py==1.2.0
cloudpickle==3.0.0
Farama-Notifications==0.0.4
gymnasium==0.29.1
libsumo==1.15.0
linear-rl==0.1
numpy==1.26.4
ortools==9.4.1874
pandas==2.2.1
pettingzoo==1.24.3
pillow==10.3.0
pytz==2024.1
sumo-rl==1.4.4
sumolib==1.19.0
traci==1.19.0
tzdata==2024.1
tqdm==4.66.2